<div class="signup-container">
    <div class="signup-box">
        <h2>Welcome to <span class="highlight">
            My Task Manager!
        </span></h2>
        <form>
            <div class="form-field full-width">
                <input type="text" id="name" placeholder="Enter your name" />
            </div>
            <div class="form-field full-width">
                <input type="email" id="email" placeholder="Enter your email" />
            </div>
            <div class="form-field full-width">
                <input type="password" id="password" placeholder="Enter your password" />
            </div>

            <button type="submit" class="signup-button full-width">
                Signup
            </button>
        </form>
        <p class="login-account">
            Already have an account? <a href="/login">Login to your account.</a>
        </p>
    </div>
</div>